@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 6px;
  background: #3882f6;
  color: #f9faf8;
  padding: 8px 20px;
}
header,
footer {
  background-color: #1f2937;
  color: #f9faf8;
}
.nav,
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 0;
}
.hero {
  padding: 7em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.hero-content {
}
.hero-title {
  font-size: 48px;
  font-weight: bolder;
}
.hero-img {
  flex-shrink: 0;
  width: 50%;
}
.hero-desc {
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}

a {
  color: #f9faf8;
  text-decoration: none;
}
.footer {
  flex: 1;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
